{% extends "AppBundle::base.html.twig" %}

{% block title %}Case Study: Calendar - SQLite data{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profiling Demo</h1>
                <h2>Case Study: Calendar</h2>
                {% for person in people %}
                <p>
                    <h3>{{ person.getSalutation }} {{ person.firstName }} {{ person.lastName }} has {{ person.calendars | length }} calendars</h3>
                    {% for index, calendar in person.calendars %}
                        <div class="calendar">
                            <h4>Calendar {{ index }} has {{ calendar.appointments | length }} appointments:</h4>
                            {% for appointment in calendar.appointments %}
                                <div class="calendar-appointment">
                                    <b>On {{ appointment.when.format('Y-m-d') }} at {{ appointment.when.format('H:i') }}:</b>
                                    <p>{{ appointment.what }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </p>
                {% endfor %}
            </div>
            <div><a href="{{ path('homepage') }}">Home</a></div>
        </div>
    </div>
{% endblock %}